<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Todo App</title>
  <meta name="description" content="Fullstack Node Todo App">
  <meta name="author" content="Darrell Pawson">
  <link rel="stylesheet" href="app.css" type="text/css" />
  <script type="text/javascript" src="/libs/jquery-3.3.1.min.js"></script>
    
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <h1>todo<span>list</span></h1>
    <h2>A simple todo list app built with node</h2>
  </header>
  
  <section class="form">
    <input type="text" id="todoInput" placeholder="Insert your task here..."/>
  </section>
  
  <ul class="list">
    
  </ul>
    
    <script type="text/javascript" src="app.js"></script>
</body>
</html>